extends ../../layout/app

block content
  div.content
    div
      form.pure-form.pure-form-stacked#myForm(method="post",action="/authenticate")
        fieldset
          legend Administrator
          label(for="user") user
          input#user(type="text",name="username")

          label(for="password") Password
          input#password(type="password",name="password")

        button.pure-button.pure-button-primary(type="submit") Sign in




  
