extends ../layout/admin
block content
  div.container
    h1 Profile
    hr
    .profile
        form.post-form(method="post", action="/admin/user/#{user.getUsername()}")
            .row
                .col-sm-2 ID
                .col-sm-3 #{user.getId()}
            hr
            .row
                .col-sm-2 Username
                .col-sm-3 #{user.getUsername()}
            hr
            .row
                .col-sm-2 Email
                .col-sm-3
                    input.form-control(name="email",value="#{user.getEmail()}")

            hr
            .row
                .col-sm-2 Created Time
                .col-sm-3
            hr
            .row
                .col-sm-2 Password
                .col-sm-3
                    input.form-control(type="password", name="password")
            hr
            .row
                .col-sm-2 New Password
                .col-sm-3
                    input.form-control(type="password", name="newPassword")
            hr
            .row
                .col-sm-2
                .col-sm-3
                    input.btn.btn-primary(type="submit", value="Save profile")
            hr

