extends ../layout/app
block content
    div.content#main
        div.header
            h1 About This Site
        h2  This is my personal website, Hope you enjoy staying here!
            p(style="font-size: 0.8em;") This site is developed by Spring Boot/Mvc/Data/Security + MongoDB + Bootstrap/Pure/Jade.Get Source Code on
                a(href="https://github.com/dotdoppler/Blog",target="_blank")  Github.
        h2 Contact with Me
            ul(style="font-size: 0.8em;")
                li
                    a.pure-menu-link(href="https://github.com/dotdoppler/",target="_blank") Github
                li
                    a.pure-menu-link(href="https://www.douban.com/people/dotdoppler/",target="_blank") Douban
                li
                    a.pure-menu-link(href="https://twitter.com/dopplerzxy",target="_blank")   Twitter
                li
                    a.pure-menu-link(href="https://www.instagram.com/dopplerrrr/",,target="_blank") Instagram
                li
                    span.pure-menu-link Email &nbsp;:&nbsp; dotdoppler@yeah.net

