div.content
    div.pure-menu.pure-menu-horizontal
        a.pure-menu-heading(href="/admin") ADMIN
        ul.pure-menu-list
            li.pure-menu-item
                a.pure-menu-link(href="/admin/posts") Posts
            li.pure-menu-item
                a.pure-menu-link(href="/admin/settings") Settings
            li.pure-menu-item
                a.pure-menu-link(href="#") Profile
            li.pure-menu-item
                a.pure-menu-link(href="/") Home
