a(href="#menu")#menuLink.menu-link
    span
    #menu.active.pure-menu(style="background-color: #FFFFFF;")
        a.pure-menu-link.pure-menu-heading(href="/admin") ADMIN
        ul.pure-menu-list
            li.pure-menu-item: a.pure-menu-link(href="/admin/posts") Posts
            li.pure-menu-item: a.pure-menu-link(href="#") Settings
            li.pure-menu-item: a.pure-menu-link(href="#") Profile
            li.pure-menu-item: a.pure-menu-link(href="/") Home
