div.pure-u-1.pure-u-md-1-8.sidebar(style="text-align:center;")
    a.pure-menu-heading(href="/admin",style="background-color: #129fea;") ADMIN
    ul.pure-menu-list
        li.pure-menu-item
            a.pure-menu-link(href="/admin/posts") Posts
        li.pure-menu-item
            a.pure-menu-link(href="#") Settings
        li.pure-menu-item
            a.pure-menu-link(href="#") Profile
        li.pure-menu-item
            a.pure-menu-link(href="/") Home