extends ../layout/app
block content
    div.content
        div
            form.pure-form.pure-form-stacked(ng-controller="controller")
                fieldset
                    legend Administrator

                    label(for="email") Email
                    input#email(type="email")

                    label(for="password") Password
                    input#password(type="password")

                button.pure-button.pure-button-primary(type="button",onclick="hello()") insert
    script(src="/js/md5.js")