div.content(style="padding-bottom: 4em;")
    div.pure-menu.pure-menu-horizontal
        a.pure-menu-heading(href="/",style="float: left!important;") doppler
        ul.pure-menu-list(style="float: right!important;")
            li.pure-menu-item
                a.pure-menu-link(href="/hashtag/all",style="color: teal;") #
            li.pure-menu-item
                a.pure-menu-link(href="/posts/projects") Projects
            li.pure-menu-item
                a.pure-menu-link(href="/posts/archive") Posts
            li.pure-menu-item
                a.pure-menu-link(href="/about") About