meta(charset="utf-8")
title Doppler
link(rel='stylesheet', type='text/css', href='/css/pure/pure-min.css')
link(rel='stylesheet', type='text/css', href='/css/side-menu.css')
script(src="/webjars/jquery/2.1.4/jquery.min.js")
script(src="/js/controller.js")