a(href="#menu")#menuLink.menu-link
    span
    #menu.active.pure-menu(style="background-color: #FFFFFF;")
        a.pure-menu-heading(href="/home",style="background-color: #129fea;") DOPPLER
        ul.pure-menu-list
            li.pure-menu-item
                a.pure-menu-link(href="#") Projects
            li.pure-menu-item
                a.pure-menu-link(href="/posts/archive") Posts
            li.pure-menu-item
                a.pure-menu-link(href="#") About
            li.pure-menu-item
                a.pure-menu-link(href="#") Contact
script(src="/js/ui.js")