div#sideMenu
    a(href="#menu")
    #menuLink.menu-link
        span
    div
    #menu
        div.pure-menu
            a.pure-menu-heading(href="home") doppler
            ul.pure-menu-list
                li.pure-menu-item
                    a.pure-menu-link(href="#") home
                li.pure-menu-item
                    a.pure-menu-link(href="#") Projects
                li.pure-menu-item
                    a.pure-menu-link(href="#") 文章
                li.pure-menu-item
                    a.pure-menu-link(href="#") about
                li.pure-menu-item
                    a.pure-menu-link(href="#") contact
script(src="/js/ui.js")
