extends ../layout/app
block content
    .content
        div.header
            h1 All Posts
        for post in posts
            div.content
                h2
                    a.pure-menu-link(href="/posts/#{post.getId()}")
                        = post.getTitle()
