extends ../layout/app
block content
    div.content
        .posts
            section.post
                h2.post-title.text-center #{post.getTitle()}
                p.post-meta 2016-05-24 23:10:49
            div.post-description
                p !{post.getRenderedContent()}