extends ../layout/app
block content
    div.content
        br
        .posts
            section.post
                h2.post-title.text-center #{post.getTitle()}
                p.post-meta  #{post.getCreatedAt()}
            div.post-description
                p !{post.getRenderedContent()}