extends ../layout/app
block content
    .content
        div.header
            h1 Tags
        div.content.post
            ul.tags
                if(allHashtags != null)
                    for hashtag in allHashtags
                        li: a.post-category.pure-button.btn-flat(href="/hashtag/#{hashtag.getName()}") #&nbsp;#{hashtag.getName()}


