extends ../layout/app

block content
  div.content
    div
      form.pure-form.pure-form-stacked
        fieldset
          legend Administrator

          label(for="email") Email
          input#email(type="email")

          label(for="password") Password
          input#password(type="password")

        button.pure-button.pure-button-primary(type="button") Sign in




  
