extends ../layout/app
block content
    div.content
        div.header
            h1 Oops,  #{status} #{error}
            img.pure-img-responsive(src="/images/opps.jpg")
            h2  request for &nbsp;&nbsp;#{path}





