extends ../layout/app
block content
    div.content#main
        div.header
            h1 #{settings.getSiteName()}
            h2 #{settings.getSlogan()}
        div.content(style="text-align:center;")
            br
            img.pure-img-responsive(src="/images/cover.jpg")
        h1.content-subhead Notification
            h2.pure-menu-link #{settings.getNotification()}
        h1.content-subhead RECENT POSTS
            for post in recentPosts
                h2
                    a.pure-menu-link(href="/posts/#{post.getLink()}")
                        = post.getTitle()
        div(style="text-align:center;")
            a.btn-flat.pure-button.button-small(href="/posts/archive") More
    div.footer
        p.legal-copyright &copy; doppler



