extends ../layout/app
block content
    div.header
        h1 Page Title
        h2 A subtitle for your page goes here
    div.content
        h2.content-subhead Building....
        p  some bla bla bla
        img.pure-img(src="/images/building.jpg")
    for post in posts
        div.content
            h2.content-subhead #{post.getTitle()}
            p !{post.getRenderedContent()}


